.Experience {
    display: grid;
    padding: 2rem;
}

.experienceHeader {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
}

.experienceCompany {
    font-style: italic;
}

.experienceSection {
    position: relative;
}

.experienceSection:hover {
    background-color: rgb(226, 224, 224);
}

.optionsContainer {
    height: 22px;
}

.options {
    display: flex;
    justify-content: space-between;
}