.HeaderForm {
    position: absolute;
    right:0%;
    top:25%;
    width: 15rem;
    height: 12rem;
    padding: 1rem;
}

.HeaderForm > h4 {
    padding-bottom: 1rem;
}

.inputContainer {
    display: grid;
}

.inputContainer > input[type=text]{
    width: 85%;
}