.Skills {
    padding: 2rem;
    width: 528px;
}

section > ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

section > ul > li {
    margin-left: 2.5rem;
    display: flex;
    align-content: center;
    justify-content: space-between;
    height: 24px;
}

li:hover {
    background-color: rgb(226, 224, 224)
}